<input type="checkbox" name="completeAll" id="toggle-all" class="toggle-all" {{#if allCompleted}}checked{{/if}} hx-patch="/todos/complete-all" hx-target="#todo-list" hx-swap-oob="true" />

{{!-- <label for="toggle-all" hx-target="#todo-list" title="Mark all as complete">Mark all as complete</label> --}}
